.contact-details-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: rgb(49, 52, 57);
    border-left: black 1px solid;

    right: 0;
    margin-right: -400px;
}

.contact-details-name-header {
    height: 15%;
    background-color: rgb(113, 177, 125);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details-name {
    margin: 0;
}

.exit-button {
    position: absolute;
    top: 0;
    right: 0;
}

.contact-details-map-container {
    height: 100%;
    width: 100%;
}

.contact-details-info-container {
    height: 85%;
    overflow-y: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* CSS Transition */
.enter {
    margin-right: -400px;
}

.enterDone {
    transition: 0.35s ease-in-out;
    margin-right: 0;
}

.exit {
    margin-right: 0;
}

.exitActive {
    transition: 0.35s ease-in-out;
    margin-right: -400px;
}

.exitDone {
    visibility: hidden;
}

@media only screen and (min-width: 550px) {
    .contact-details-container {
        width: 400px;
    }
}