* {
  box-sizing: border-box;
}

body, #root, html {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100%;
  width: 100%;
  background-color: rgb(49, 52, 57);
}

.search-header {
  background-color: rgb(113, 177, 125);
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 70%;
  height: 40%;
  border-radius: 20px;
  border: 0;
  padding: 0 20px 0 20px;
  font-size: 16px;
}

.contact-card-list {
  padding: 0;
  height: 80%;
  overflow: scroll;
}

.contact-card {
  list-style-type: none;
  padding: 10px 10px;
  border-bottom: 1px grey solid;
}

.contact-card > h4 {
  margin: 0;
}

@media only screen and (min-width: 850px) {

}
