* {
  box-sizing: border-box;
}

body, #root, html {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100%;
  width: 100%;
  background-color: rgb(49, 52, 57);
  display: flex;
  flex-direction: row;
}

.header-card-list-container {
  height: 100%;
  width: 100%;
  transition: 0.35s ease-in-out;
}

.header-card-list-container-open {
  height: 100%;
  width: 100%;
  transition: 0.35s ease-in-out;
}

.search-header {
  background-color: rgb(113, 177, 125);
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 70%;
  height: 40%;
  border-radius: 20px;
  border: 0;
  padding: 0 20px 0 20px;
  font-size: 16px;
}

.contact-card-list {
  margin: 0;
  padding: 0;
  height: 85%;
  overflow-y: scroll;
}

.contact-card {
  list-style-type: none;
  padding: 10px 10px;
  border-bottom: 1px grey solid;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.contact-card > h4 {
  margin: 0;
}

.contact-card:hover  {
  background-color: rgb(77, 85, 100);
}

.contact-card-name,
.contact-card-phone {
  color: white;
}

.contact-list-phone-icon {
  color: rgb(113, 177, 125);
  margin-right: 5px;
}

.contact-more-details {
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-more-details-button {
  height: 30px;
  background-color: transparent;
  border: 0;
}

.contact-list-details-icon {
  font-size: 26px;
  cursor: pointer;
}

.more-info-icon {
  position: absolute;
  right: 20px;
  top: 35%;
  font-size: 20px;
}

.more-info-icon-hover {
  color: white;
}


@media only screen and (min-width: 600px) {
  .header-card-list-container-open {
    height: 100%;
    width: calc(100% - 400px);
    transition: 0.35s ease-in-out;
  }
}
